@page
@model WebBurgers.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Summa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].AddPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].EmployeesPercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Budget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesPercent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
