@page
@model WebBurgers.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Бюджет</h1>

@*<p>
    <a class="btn btn-primary btn-sm" asp-page="Create">Create New</a>
</p>*@
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Summa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].AddPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].EmployeesPercent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Budget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeesPercent)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
