@page
@model WebBurgers.Pages.Ingredients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Ингредиенты</h1>
<div class="form-group">
    <label for="mySelect" class="form-label">Выберите продукт:</label>
    <select id="mySelect" onchange="handleChange(this.value)" asp-for="SelectedValue" asp-items="@Model.ProductsList" class="form-select"></select>
    
</div>
<br />
<p>
    <a asp-page="Create" asp-route-id="@Model.SelectedValue" class="btn btn-primary">Создать</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th class="col">Material</th>
                <th class="col">Count</th>
                <th class="col"></th>
                <th class="col"></th>

            </tr>
        </thead>
        <tbody>
            @while (Model.reader.Read())
            {
                <tr>
                    <td class="col">@Model.reader.GetString(1)</td>
                    <td class="col">@Model.reader.GetDecimal(2)</td>
                    <td class="col">
                        <a asp-page="./Edit" asp-route-id="@Model.reader.GetInt32(0)" class="btn btn-sm btn-outline-dark">Изменить</a>
                        
                    </td>
                    <td class="col">
                        <form method="post">
                            <input type="hidden" name="id" value="@Model.reader.GetInt32(0)" />
                            <button type="button" class="btn btn-sm btn-danger deleteButton">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
            @{
                Model.reader.Close();
            }
        </tbody>
    </table>
</div>

<script>
    function handleChange(product) {
        console.log(product);
        var selectedValue = document.getElementById("mySelect").value;
        window.location.href = "?selectedValue=" + selectedValue;
    }
</script>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.deleteButton').on('click', function (event) {
                event.preventDefault();
                var id = $(this).closest('form').find('input[name="id"]').val();
                if (confirm('Вы уверены, что хотите удалить запись?')) {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>
}